			.botoes{
				
				margin-left: 15px;
				width: 40px;
				height: 40px;
			}

			#calc{
				width: 350px;
				border-style:double;
				border-color: black;
				background-color: white;
				
			}

			input{
				height: 30px;
				margin-left: 35px;
			}


			p{
				font-size: 30px;
			}

			h1{
				border-style: solid;
				width: 200px;
				background-color: rgb(155, 153, 153);
			}

			footer{
				border-style:outset;
				background-color: white;
				width: 170px;
				font-size: 20px;
			}

			#eq2{
				border-style: double;
				border-color: black;
				background-color: white;
				width: 500px;
			}

			.letras{
				width: 100px;
				margin-top: 15px ;
			}

			#resolver{
				margin-left: 15px;
				width: 85px;
				height: 40px;
				font-size: 20px;
			}

			#bhaskara{
				border-style: solid;
				width: 400px;
				background-color: rgb(155, 153, 153);
			}

			@media screen and (max-width: 500px){
				#eq2{
					width: 100%;
				}
			}